body {
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.5px;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
}
header {
    border-bottom: 2px solid #000;
    padding: calc(20px + 1vw);
    background-color: #673ab780;
}
h1 {
    margin: 20px ;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
}
#search {
    display: block;
    width: 80%;
    max-width: 700px;
    margin: calc(50px + 1vw) auto;
    padding: 15px 10px;
    border: 2px solid #000;
    font-size: 20px;
    font-family: inherit;
    letter-spacing: inherit;
}
#search:focus {
    outline: none;
}
footer {
    border-top: 2px solid #000;
    padding: calc(10px + 1vw);
    background: #673ab780;
    text-align: center;
}
p {
    margin: 0;
    font-size: 18px;
}